.carousel-container, .carousel-container-2 {
    display: flex;
    overflow: hidden;
    width: 500px; /* Ancho del carrusel */
    margin: 0 auto;
    margin-top: 20px;
}


.container-slide, .container-slide-2{
    flex:0 0 100%;
    transition: transform 0.5s ease-in-out;
}

.photoshop img, .html img{
    max-width: 100%;
    height: 300;

}

#prevBtn, #nextBtn, #bot_ant, #bot_next {
    margin-top: 20px;
    cursor: pointer;    
}

button{
    background-color: aquamarine;
    height: 30px;
    border-radius: 10px;
    border-color: black solid;
    color: black;
}