footer{
    display: block;
    width: 100%;
    height: 150px;
    background-color: rgb(33, 29, 29);
}

.footer-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: white;

}

#primero{
    margin-top: 10px;
}

footer img{
    width: 50px;
}

footer a{
    text-decoration: none;
    color: white;
}