*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.list-var{
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    text-align: center;

}

.list-var li{
    position: sticky;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px;
}

.list-var li a{
    text-decoration: none;
    color: rgb(119, 119, 119);
}
.list-var li a:hover{
    color: aquamarine;
    transition: 1s;
}

.list-var button{
    width: 100px ;
    padding: 5px;
    border-radius: 5px;
    border-color: aquamarine;
}


header{
    width: 100%;
    height: 500px;
}

header img{
    width: 100%;
    height: 500px;
    display: unset;
}

section{
    margin-top: 20px;
    padding: 40px;
}

h2{
    text-align: center;
    font-size: 25px;
    padding: 10px;

}

/* Cards container */

.flex-container{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card-1, .card-2, .card-3{
    width: 400px;
    height: auto;
    background-color: rgb(36, 62, 86) ;
    border-radius: 20px;
    align-items: center;
    box-shadow: 0px 10px 10px black;
}



.box-1,.box-2,.box-3{
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: auto;
    height: auto;
}

.img-java, .img-python, .img-photo{
    border-radius: 20px ;
    width: 150px;
    height: 150px;
}

.card-text{
    margin-top: 10px;
    color: white;
    font-size: 12px;
    text-align: center;
}

@media (min-width:375px){
    .card-3{
        margin-left: 60px;

    }

    .card-1{
        margin-left: 60px;
    }
    .card-2{
        margin-left: 60px;
    }

}

@media (min-width:760px){
/*     .flex-container{
        width: 760px;
        margin-left: auto;
        margin-right: auto;
    } sirve para hacer que no se extire el contenido y quede centrado  */ 
    
    .card-1{
        width: 40%;
    }
    .card-2{
        width: 40%;
    }
    .card-3{
        width: 40%;
        margin: 10px auto auto auto;
    }

}



/* Proyectos */
.container{
    margin-top: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax (
        150px,
        1fr
        )
    );     
    grid-template-rows: (0,0fr);
    grid-template-areas: 
    "n1 n2"
    "n3 n4"
    "n5 n6"
    ;
}

.python{
    grid-area: n1;
}

.python-text{
    grid-area: n2;
    margin: auto;
    padding: 10px;
    font-size: 15px;
}

.photoshop{
    margin-top: 30px;
    grid-area: n3;
}

.photoshop-text{
    grid-area: n4;
    padding: 10px;
    margin: auto;
    font-size: 15px;
}

.html{
    margin-top: 40px;
    grid-area: n5;
}

.html-text{
    grid-area: n6;
    padding: 10px;
    margin: auto;
    font-size: 15px;
}



@media (min-width:600px){
    .container{
        width: 50%;
    }

    .python, .photoshop, .html{
        width: 400px ;
        height: 30%;
    }

    .python-text p, .photoshop-text p, .html-text p{
        width:auto;
        margin: auto;
    }
    .python video{
        width: 400px;
        height: 300px;
    }

    .carousel-container, .carousel-container-2 {
        width: 400px;
        height: auto;
    }


    

    .carousel-container img, .carousel-container-2 img {
        width: 400px;
        height: auto;
    }


}

@media (min-width:800px){
    .container{
        width: 80%;
    }

    .python, .photoshop, .html{
        width: 40% ;
        height: 30%;
    }
    .python-text p, .photoshop-text p, .html-text p{
        width: 40%;
    }
    .python video{
        width: 500px;
        height: 300px
    }


    .carousel-container{
        width: auto;
        height: auto;
    }
    .carousel-container img{
        width: auto;
        height: auto;
    }
}



/* carta presentacion */

.information-box {
    height: auto;
    width: auto;
    margin: auto;
    background-color: rgb(247, 247, 247);
    border-radius: 20px;
    box-shadow: 0px 4px 20px black;
    margin-top: 10px;
    display: grid;
    grid-template-rows: auto auto; /* Corrección en las filas */
    grid-template-areas: 
    "img-box information" /* Cambio de nombres de área */
    "img-box information ";
}

.img-box img {
    width: 100px;
    height: 120px;
    margin: 0 0 100 20;
    grid-area: img-box; /* Cambio de grid-area */
    border-radius: 10px;
}

.information {
    margin: 10%;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    grid-area: information; /* Cambio de grid-area */
}
